/* .contact h2 {
    margin:top 59px ; left: 139px;
    width: 49px;
}
.contact p {
    margin:top 88px; left: 139px;
    width: 378px;
} */
/* .inlab {
    flex-direction: column;
}

form {
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */
input[type=text] {
    width: 352px;
    padding: 12px 20px;
    margin: 15px ;
    /* display: inline-block; */
    border: 2px solid 
    box-sizing: border-box;

}
button[type=send] {
    width: 352px;
    padding: 12px 20px;
    margin: 15px ;
    /* display: inline-block; */
    border: 2px solid 
    box-sizing: border-box;
    background-color: green;

}

textarea {
    resize: none;
}

/* section2 */

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    box-sizing: 2px solid red;
}

.threebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
}


.fa-envelope {
    margin-bottom: 10px;
    width: 59px;

}
.fa-phone {
    margin-bottom: 10px;
    width: 59px;

}
.fa-location-dot {
    margin-bottom: 10px;
    width: 59px;

}

.pel > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.pel > p {
    
}

/* images */

.info-box {
    border: 1px solid red; 
    width: 240px;
    margin-right: 50px; 
    margin-left: 15px; 
    margin-top: 20px;
}
.threephotos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
}

.images{
    width: 280px;
    margin-bottom: 20px
    
}
.images > img {
    width: 100%;
    margin-bottom: 20px;
}